/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap'); */
/* @font-face {
  font-family: gelica;
  src: url('../../../public/Fonts/Gelica/Gelica-Regular.otf') format('otf');
  font-family: gelicaBold;
  src: url('../../../public/Fonts/Gelica/Gelica-Bold.otf') format('otf');
  font-family: cabinetGrotesk;
  src: url('../../../public/Fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf') format('otf');
  font-family: cabinetGroteskBold;
  src: url('../../../public/Fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.otf') format('otf');
} */

.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    font-family: 'gelica';
    color: #414141;
    /* height: 43%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1{
    font-size: 80px;
    text-align: center;
    align-self:flex;
}

h1+h1 {
  margin-left: 20px;
}

.foot{
  font-family: 'cabinetGrotesk';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aca191;
}

.inline-flex-center{
  /* inline-flex justify-center items-center */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}