/* @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap'); */
@font-face {
  font-family: gelica;
  src: url('../../../../public/Fonts/Gelica/Gelica-Regular.otf');
  font-family: cabinetGrotesk;
  src: url('../../../../public/Fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf')
}

.window-colors {
    border-color: var(--border-color);
    /* border-width: 2px; */
    background: var(--window-background-color);
    color: var(--primary-text-color)
}

.secondary-window-colors{
  color: var(--secondary-text-color)
}

.tertiary-window-colors{
  color: var(--tertiary-text-color)
}

.scrollbar-colors{
  scrollbar-color: var(--scrollbar-color) var(--window-background-color);
  scrollbar-width: thin;
}


.landing-header {
    font-family: cabinetGrotesk;
    background: var(--neutral-color);
    border-bottom-color: var(--border-color);
    border-bottom-width: 3px;
    /* position: flex; */
    align-items: center;
    width:100%;
    height: 50px;
    padding: 0 0 0 0; /*top right bottom left */
}

.landingWindow {
    overflow: auto;
    border-radius: 0px;
    border-color: var(--border-color);
    background: var(--window-background-color);
    /* border-width: 2px; */
    padding: 0px;
    width: 100%;
    height: 100%;
}

.centered {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    color: var(--neutral-color);
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

h1{
    font-size: 80px;
    text-align: center;
    align-self:flex;
}

h1+h1 {
  margin-left: 20px;
}